@model batNotes.Models.HomeViewModel
    @using batNotes.Models

@{
    ViewBag.Title = "Начальная страница";
}

<h2>Начальная страница</h2>
@Html.ValidationSummary()

    @Html.ActionLink("Выйти", "LogOff", "Account")
@{if (Model.LoggedAs == Permission.Admin)
    {
        <div>
            @Html.ActionLink("Список пользователей", "Index", "User")
        </div>
    } }



<div>
    @Html.ActionLink("Перейти к заметкам", "ShowNotes", "Notes")
</div>


